---
name: test build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  go-build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: setup go env
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version: 1.26
    - name: build
      run: go build -v ./...
