---
name: test build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  go-build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: setup go env
      uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5
      with:
        go-version: 1.26
    - name: build
      run: go build -v ./...
