---
name: test build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  go-build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: setup go env
      uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
      with:
        go-version: 1.26
    - name: build
      run: go build -v ./...
