---
name: publish release

on:
  release:
    types: [created]

jobs:
  release-linux-amd64:
    name: create linux amd64 release
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - uses: wangyoucao577/go-release-action@ec4e3151b3eccfa3527868ba70f60402265fef06 # v1.54
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: amd64
        goversion: 1.16
        overwrite: true
