---
name: publish release

on:
  release:
    types: [created]

jobs:
  release-linux-amd64:
    name: create linux amd64 release
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: wangyoucao577/go-release-action@481a2c1a0f1be199722e3e9b74d7199acafc30a8 # v1.53
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: linux
        goarch: amd64
        goversion: 1.16
        overwrite: true
